body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameCanvas {
    margin-top: 5em;
    background-color: #333;
    border-radius: 5px;
}
